.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-container {
  width: 30%;
}

input[type="text"] {
  padding: 15px 0;
  background-color: #ececec;
  color: black;
  border: none;
  width: 100%;
  text-align: center;
}
